@{
    ViewData["Title"] = "Partners";
}

<h1>Our partners are:</h1>
<ul>
    <li><h3>Partner #1</h3></li>
    <li><h3>Partner #2</h3></li>
    <li><h3>Partner #3</h3></li>
    <li><h3>Partner #4</h3></li>
    <li><h3>Partner #5</h3></li>

</ul>